.container{
    width: 1000px;
    height: 700px;
    padding: 1em;
    display: flex;
    gap: 1em;
}
.col-left{
    flex: 2;
    border-radius: 2em !important;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.col-right{
    flex: 1;
    border-radius: 2em !important;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.row {
    flex: 1;
    border-radius: 2em !important;

}

.left1 {
    flex: 1;
}
.right1 {
    flex: 2;
}

.row1{
    display: flex;
    border: none;
    gap: 1em
}

.row3{
    display: flex;
    border: none;
    gap: 1em
}

.row-col{
    flex: 1;
    border-radius: 2em;
}

.row-col2{
    flex: 3;
    border-radius: 2em;
}

.image {
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)), url('/src/resources/neo-bifrost-preview.png');
    background-size: cover; /* Hace que la imagen cubra todo el ancho y alto del contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
