.container{
    width: 1000px;
    height: 700px;
    padding: 1em;
    display: flex;
    gap: 1em;
}
.col-left{
    flex: 2;
    border-radius: 2em !important;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.col-right{
    flex: 1;
    border-radius: 2em !important;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.row {
    flex: 1;
    border-radius: 2em !important;

}

.left1 {
    flex: 1;
}
.right1 {
    flex: 2;
}

.row1{
    display: flex;
    border: none;
    gap: 1em
}

.row3{
    display: flex;
    border: none;
    gap: 1em
}

.row-col{
    flex: 1;
    border-radius: 2em;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: var(--animation-delay, 0s);
}

.row-col2{
    flex: 3;
    border-radius: 2em;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: var(--animation-delay, 0s);
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px); /* Efecto de desplazamiento */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.bifrost-preview {
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)), url('/src/resources/projects/bifrost/neo-bifrost-preview.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.bifrost1 {
    background: url('/src/resources/projects/bifrost/neo-bifrost1.png');
}

.bifrost2 {
    background: url('/src/resources/projects/bifrost/neo-bifrost2.gif');

}

.bifrost3 {
    background: url('/src/resources/projects/bifrost/bifrost3.png');

}

.bifrost4 {
    background: url('/src/resources/projects/bifrost/bifrost4.png');

}

.bifrost5 {
    background: url('/src/resources/projects/bifrost/bifrost5.png');

}

.sinewave-preview {
    background: linear-gradient(to bottom, transparent, rgb(214 211 209)), url('/src/resources/projects/sinewave/sinewave-preview.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.sinewave1 {
    background: url('/src/resources/projects/sinewave/sinewave1.png');

}
.sinewave2 {
    background: url('/src/resources/projects/sinewave/sinewave2.png');

}
.sinewave3 {
    background: url('/src/resources/projects/sinewave/sinewave3.png');

}

.barna-preview {
    background: linear-gradient(to bottom, transparent, rgb(42, 105, 153)), url('/src/resources/projects/barna/barna-preview.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.barna1 {
    background: url('/src/resources/projects/barna/barna1.png');
}

.barna2 {
    background: url('/src/resources/projects/barna/barna2.png');
}

.barna3 {
    background: url('/src/resources/projects/barna/barna3.png');
}

.barna4 {
    background: url('/src/resources/projects/barna/barna4.png');
}

.invoice1 {
    background: url('/src/resources/projects/invoice/invoice1.gif');
}


.portfolio-preview {
    background: linear-gradient(to bottom, transparent, black), url('/src/resources/projects/portfolio/portfolio.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.portfolio1 {
    background: url('/src/resources/projects/portfolio/portfolio1.png');
}

.portfolio2 {
    background: url('/src/resources/projects/portfolio/portfolio.jpg');
}

.portfolio3 {
    background: url('/src/resources/projects/portfolio/portfolio3.png');
}

.portfolio4 {
    background: url('/src/resources/projects/portfolio/portfolio2.png');
}

.transporte-preview {
    background: linear-gradient(to top, transparent, rgb(2 132 199)), url('/src/resources/projects/transporte/transporte-preview.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.transporte1 {
    background: url('/src/resources/projects/transporte/transporte1.png');
}
.transporte2 {
    background: url('/src/resources/projects/transporte/transporte2.png');
}
.transporte3 {
    background: url('/src/resources/projects/transporte/transporte3.png');
}
.transporte4 {
    background: url('/src/resources/projects/transporte/transporte4.png');
}
.transporte5 {
    background: url('/src/resources/projects/transporte/transporte5.png');
}
.transporte6 {
    background: url('/src/resources/projects/transporte/transporte6.png');
}
