.container{
    width: 1000px;
    height: 700px;
    padding: 1em;
    display: flex;
    gap: 1em;
}
.col-left{
    flex: 2;
    border-radius: 2em !important;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.col-right{
    flex: 1;
    border-radius: 2em !important;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.row {
    flex: 1;
    border-radius: 2em !important;

}

.left1 {
    flex: 1;
}
.right1 {
    flex: 2;
}

.row1{
    display: flex;
    border: none;
    gap: 1em
}

.row3{
    display: flex;
    border: none;
    gap: 1em
}

.row-col{
    flex: 1;
    border-radius: 2em;
}

.row-col2{
    flex: 3;
    border-radius: 2em;
}

.bifrost-preview {
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)), url('/src/resources/projects/bifrost/neo-bifrost-preview.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.bifrost1 {
    background: url('/src/resources/projects/bifrost/neo-bifrost1.png');
}

.bifrost2 {
    background: url('/src/resources/projects/bifrost/neo-bifrost2.gif');

}

.sinewave-preview {
    background: linear-gradient(to bottom, transparent, rgb(214 211 209)), url('/src/resources/projects/sinewave/sinewave-preview.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.barna-preview {
    background: linear-gradient(to bottom, transparent, rgb(42, 105, 153)), url('/src/resources/projects/barna/barna-preview.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.portfolio-preview {
    background: linear-gradient(to bottom, transparent, black), url('/src/resources/projects/portfolio/portfolio.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.transporte-preview {
    background: linear-gradient(to top, transparent, rgb(2 132 199)), url('/src/resources/projects/transporte/transporte-preview.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}